@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&family=Nunito+Sans:wght@400;600;700;800&family=Poppins:wght@400;500;600;700&display=swap");

@import "base/settings";
@import "components/header-top";
@import "components/header-left-part";
@import "components/header-right-part";
@import "components/row1-check";
@import "components/row2-globally";
@import "components/row3-watch";
@import "components/row4-our-team";
@import "components/row5-why-choose";

// $weight-regular: 400; // regular
// medium 500
// $weight-m: 600; // semibold
// bold 700
// extraBold 800;

// Общее. И посмотреть ещё отмену всех значений.
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
    color: lighten(black, 30%);
}

button:hover {
    cursor: pointer;
    box-shadow: inset 2px 2px 5px rgba(167, 149, 130, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}

.header {
    width: 100wv;
    height: px-convert(1118);
    padding-top: px-convert(60);
    background-image: url(images/header_background.png);
    background-size: 100% 100%;
}

.title {
    color: $f-black;

    &__red-text {
        color: $f-red;
    }
}

.header-body {
    margin: 0 px-convert(100);
    display: flex;
    align-items: center;
}

.row6-testimonial {
    @include row-params(px-convert(194), px-convert(200), left);
    display: flex;
    justify-content: space-between;

    // left-block

    &__block--left {
        @include width-height(618, 821);
    }

    //title TESTIMONIAL

    &__block-title--testimonial {
        @include font-params(px-convert(20), 400, $font-Nunito);
        overflow: hidden;
        text-align: right;
        letter-spacing: px-convert(6);
        color: $f-black;
        margin-bottom: px-convert(59);
    }
    &__block-title-inner:before {
        content: " ";
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        height: 0.5px;
        background-color: $f-black;
        position: relative;
        margin-left: -100%;
        left: -10px;
    }

    &__block-title-inner {
        width: px-convert(281);
    }

    // text

    &__p-title--big {
        @include font-params(px-convert(60), 700, $font-Nunito);
        margin-bottom: px-convert(50);
    }

    &__subtitle {
        @include font-params(px-convert(26), 400, $font-Poppins);
        color: $f-black;
    }

    &__subtitle--1 {
        margin-bottom: px-convert(34);
    }

    &__subtitle--2 {
        margin-bottom: px-convert(57);
    }

    &__subtitle--3 {
        margin-bottom: px-convert(45);
    }

    &__fieldset {
        @include width-height(403, 80);
        border-radius: 40px;
        border: 1px solid $light-red;
        vertical-align: middle;
    }

    &__input--disabled {
        @include font-params(px-convert(22), 400, $font-Poppins);
        background-color: inherit;
        border: none;
        color: $light-red;
        text-align: center;
        margin-top: px-convert(23);
        position: relative;
        left: 25px;
    }

    &__button {
        width: px-convert(80);
        height: 100%;
        border-radius: inherit;
        border: 1px solid $light-red;
        background-color: inherit;
        position: relative;
        float: right;
        left: 1px;
    }

    &__img--arrow {
        width: px-convert(25);
        height: auto;
    }

    // right block

    &__block--right {
        @include width-height(749, 821);
        background: url(images/main_row6_photo-back.jpg) no-repeat;
        background-size: px-convert(560) px-convert(700);
        position: relative;
    }

    &__block-comment {
        @include width-height(680, 329);
        background-color: white;
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 15px;
        box-shadow: 0 0 20px rgba(164, 161, 161, 0.2);
    }

    &__vertical-line--red {
        width: px-convert(14);
        height: 100%;
        background-color: $light-red;
        border-radius: 15px 0 0 15px;
        float: left;
    }

    &__text-block {
        width: px-convert(583);
        height: 100%;
        margin-left: px-convert(41);
    }

    &__text-comment {
        @include font-params(px-convert(22), 400, $font-Nunito);
        color: $f-black;
        margin-top: px-convert(39);
        padding-left: px-convert(32);
        border-left: 1px solid #bdbdd1;
    }

    &__comment-footer {
        margin-top: px-convert(44);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__username {
        @include font-params(px-convert(24), 600, $font-Nunito);
        color: $f-black;
        padding-left: px-convert(32);
    }

    &__inner-rating {
        @include width-height(140, 58);
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    &__star {
        @include width-height(24, 24);
    }

    &__count-reviews {
        @include font-params(px-convert(18), 600, $font-Nunito);
        color: #80819a;
        margin-left: px-convert(19);
    }

    &__circle-button {
        @include width-height(80, 80);
        border-radius: 50%;
        background-color: white;
        text-align: center;
        position: relative;
        top: 35%;
        left: px-convert(538);
        box-shadow: 0 0 20px rgba(164, 161, 161, 0.2);
    }

    &__img--short-arrow {
        @include width-height(20, 20);
        margin-top: px-convert(30);
    }
}
