.header-top {
    margin: 0px px-convert(100); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: px-convert(83); 

    &__container-logo {
        @include width-height(208, 83);
    }

    &__logo {
        display: block;
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }

    &__menu {
        @include font-params(px-convert(22), 400, $font-Poppins);
        width: px-convert(689);
        display: flex;
        justify-content: space-between;
        margin-left: 50px;
    }

    &__phone-btn {
        @include red-button(px-convert(22), 500, px-convert(17) px-convert(38));
        display: flex;
        align-items: center;
    }

    &__phone-image {
        @include width-height(39, 32);
    }
}
