.header-left-part {
    width: px-convert(783);
    height: 100%;

    &__title {
        @include font-params(px-convert(54), 800, $font-Nunito);
    }

    &__subtitle {
        @include subtitle-font($font-Nunito);
        margin-top: px-convert(77);
        color: #464646;
    }

    &__buttons-container {
        margin-top: px-convert(100);
        display: flex;
        text-align: center;

        .button {
            margin-right: px-convert(26);
        }
    }

    &__button--explore {
        @include red-button(px-convert(24), 600, px-convert(21) px-convert(41));
    }

    &__button--play {
        @include button-play-back();
    }

    &__play-triangle {
        @include play-triangle(33, 33, 24);
    }

    &__link--watch {
        @include font-params(px-convert(24), 400, $font-Poppins);
        display: block;
        margin-top: px-convert(24);
    }
}