@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&family=Nunito+Sans:wght@400;600;700;800&family=Poppins:wght@400;500;600;700&display=swap");
.header-top {
  margin: 0px 5.20562vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4.32067vw;
}

.header-top__container-logo {
  width: 10.82769vw;
  height: 4.32067vw;
}

.header-top__logo {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-top__menu {
  width: 35.86674vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 50px;
  font-family: "Poppins", "Manrope", sans-serif;
  font-size: 1.14524vw;
}

.header-top__phone-btn {
  background-color: #b25a59;
  color: white;
  border-radius: 40px;
  border: 0;
  font-size: 1.14524vw;
  font-weight: 500;
  padding: 0.88496vw 1.97814vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__phone-image {
  display: block;
  width: 2.03019vw;
  height: 1.6658vw;
}

.header-left-part {
  width: 40.76002vw;
  height: 100%;
}

.header-left-part__title {
  font-size: 2.81104vw;
  font-weight: 800;
  font-family: "Nunito Sans", "Manrope", "Poppins", sans-serif;
}

.header-left-part__subtitle {
  font-size: 24px;
  font-weight: 400;
  font-family: "Nunito Sans", "Manrope", "Poppins", sans-serif;
  margin-top: 4.00833vw;
  color: #464646;
}

.header-left-part__buttons-container {
  margin-top: 5.20562vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.header-left-part__buttons-container .button {
  margin-right: 1.35346vw;
}

.header-left-part__button--explore {
  background-color: #b25a59;
  color: white;
  border-radius: 40px;
  border: 0;
  font-size: 1.24935vw;
  font-weight: 600;
  padding: 1.09318vw 2.13431vw;
}

.header-left-part__button--play {
  border: 0;
  border-radius: 50%;
  background-color: white;
}

.header-left-part__play-triangle {
  display: block;
  width: 1.71786vw;
  height: 1.71786vw;
  margin: 1.24935vw;
}

.header-left-part__link--watch {
  display: block;
  font-family: "Poppins", "Manrope", sans-serif;
  font-size: 1.24935vw;
  font-weight: 400;
  margin-top: 1.24935vw;
}

.header-right-part {
  width: 48.77668vw;
  height: 100%;
}

.header-right-part__image--travel {
  -o-object-fit: content;
     object-fit: content;
  display: block;
  width: 100%;
  height: auto;
}

.header-right-part__block {
  background-color: white;
  border-radius: 20px;
  opacity: 0.95;
  font-family: "Nunito Sans", "Manrope", "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-right-part__text--bold {
  font-size: 1.24935vw;
  font-weight: 700;
  color: #595959;
}

.header-right-part__text--semibold {
  font-size: 1.04112vw;
  font-weight: 600;
  color: #545567;
}

.header-right-part__block--planner {
  width: 15.61687vw;
  height: 5.20562vw;
  position: absolute;
  margin-top: -390px;
  padding: 1.30141vw 1.61374vw;
}

.header-right-part__block--planner .img-calendar {
  display: block;
  width: 2.60281vw;
  height: 2.60281vw;
  margin-right: 1.6658vw;
}

.header-right-part__block--trips {
  width: 20.30193vw;
  height: 9.73451vw;
  position: absolute;
  margin-top: -150px;
  padding: 0.8329vw 1.30141vw 0.8329vw 1.45757vw;
}

.header-right-part__block--trips .img-baggage {
  display: block;
  width: 4.26861vw;
  height: 4.84123vw;
  margin-right: 0.41645vw;
}

.header-right-part__button--small {
  background-color: #b25a59;
  color: white;
  border-radius: 40px;
  border: 0;
  font-size: 1.04112vw;
  font-weight: 700;
  padding: 0.93701vw 2.65487vw;
  margin-top: 1.04112vw;
}

.row1-check {
  margin-top: 9.73451vw;
  padding: 0 11.71265vw;
  text-align: center;
}

.row1-check__text-container {
  width: 43.57106vw;
  margin: 0 16.39771vw 4.42478vw;
}

.row1-check__title {
  font-size: 1.87402vw;
  font-weight: 700;
  font-family: "Poppins", "Manrope", sans-serif;
  margin-bottom: 2.60281vw;
}

.row1-check__subtitle {
  font-size: 24px;
  font-weight: 400;
  font-family: "Poppins", "Manrope", sans-serif;
}

.row1-check__wrapper {
  width: 76.52264vw;
  height: 22.38417vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row1-check__figure {
  width: 23.4253vw;
  height: 22.38417vw;
}

.row1-check__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

.row1-check__figcaption {
  font-size: 1.56169vw;
  font-weight: 500;
  font-family: "Poppins", "Manrope", sans-serif;
  color: #7f2736;
  margin-top: 2.18636vw;
}

.row2-globally {
  margin-top: 13.95107vw;
  padding: 0 16.13743vw;
  text-align: center;
}

.row2-globally__text-container {
  text-align: center;
  margin: 0 3.12337vw 4.42478vw;
  padding: 0;
}

.row2-globally__title {
  font-size: 2.29047vw;
  font-weight: 600;
  font-family: "Poppins", "Manrope", sans-serif;
  margin-bottom: 2.60281vw;
}

.row2-globally__subtitle {
  font-size: 24px;
  font-weight: 400;
  font-family: "Poppins", "Manrope", sans-serif;
}

.row2-globally__wrapper {
  width: 100%;
  height: 20.9266vw;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row2-globally__image-back-container--left {
  background: url(images/main_row2_for-domestic.png) no-repeat;
  width: 31.23373vw;
  height: 100%;
  background-position: center;
}

.row2-globally__image-back-container--right {
  background: url(images/main_row2_for-international.png) no-repeat;
  width: 31.23373vw;
  height: 100%;
  background-position: center;
}

.row2-globally__block {
  width: 100%;
  height: 100%;
  background-color: #7f2736;
  opacity: 0.85;
  border-radius: 15px;
  padding-top: 7.39198vw;
}

.row2-globally__text--for {
  font-size: 1.6658vw;
  font-weight: 600;
  font-family: "Poppins", "Manrope", sans-serif;
  color: white;
  margin-bottom: 1.04112vw;
}

.row2-globally__button {
  background-color: #b25a59;
  color: white;
  border-radius: 40px;
  border: 0;
  font-size: 1.14524vw;
  font-weight: 500;
  padding: 1.04112vw 3.01926vw;
  border: 1px solid white;
  background-color: #7f2736;
}

.row3-watch {
  margin-top: 10.04685vw;
  padding: 0 10.93181vw;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row3-watch__text-container {
  width: 38.00104vw;
  height: 26.65279vw;
  padding-top: 3.07132vw;
}

.row3-watch__title {
  font-size: 1.87402vw;
  font-weight: 500;
  font-family: "Poppins", "Manrope", sans-serif;
  margin-bottom: 2.29047vw;
}

.row3-watch__subtitle {
  font-size: 24px;
  font-weight: 400;
  font-family: "Poppins", "Manrope", sans-serif;
  margin-bottom: 2.08225vw;
}

.row3-watch__link--learn {
  font-size: 1.14524vw;
  font-weight: 400;
  font-family: "Poppins", "Manrope", sans-serif;
  color: #EE5060;
  text-decoration: underline;
}

.row3-watch__img-container {
  width: 36.69964vw;
  height: 24.51848vw;
  background: url(images/main_row3__sport.jpg);
  background-size: 100% 100%;
  background-position: center;
  border-radius: 15px;
  text-align: center;
}

.row3-watch__button--play {
  border: 0;
  border-radius: 50%;
  background-color: white;
  margin-top: 10.41124vw;
}

.row3-watch__play-triangle {
  display: block;
  width: 1.45757vw;
  height: 1.50963vw;
  margin: 1.40552vw;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
  color: #4d4d4d;
}

button:hover {
  cursor: pointer;
  -webkit-box-shadow: inset 2px 2px 5px rgba(167, 149, 130, 0.5), 1px 1px 5px white;
          box-shadow: inset 2px 2px 5px rgba(167, 149, 130, 0.5), 1px 1px 5px white;
}

.header {
  width: 100wv;
  height: 58.19885vw;
  padding-top: 3.12337vw;
  background-image: url(images/header_background.png);
  background-size: 100% 100%;
}

.title {
  color: #2c2d32;
}

.title__red-text {
  color: #7f2736;
}

.header-body {
  margin: 0 5.20562vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
