<div class="container">
    <div class="container-path">
        <span class="span__label">Selected directory: </span>
        <span class="span__path">{{folderPath}} </span>
    </div>


    <form #myForm="ngForm">
        <div class="wrapper">
            <span class="fileName">{{fileName}}   </span>
            <input class="input__file" type="file" accept=".json" name="file" id="input__file" class="input input__file"
                (change)="onFileSelected($event)" required>
            <label class="label__input" for="input__file">   Select file</label>
        </div>
        <div>
            <button class="btn__submit" type="submit" (click)="showModal()">Apply schema</button>
        </div>
    </form>
</div>