.container{
    margin-top: 10px;
    margin-left: 30px;
    position: absolute;
}

.fileName{
    margin-right: 30px;
}

.label__input{
    display: block;
    width: 120px;
    text-align: center;
}

.label__input:hover{
    cursor: pointer;
    box-shadow: 0 0 0 2px rgb(176, 189, 216) inset, 0 0 0 3px white inset;    
}

.wrapper{
    margin-top: 15px;
    background-color: rgb(176, 189, 216);
    width: 650px; 
    height: 30px;
    display: flex;
    vertical-align: middle;
    justify-content: flex-end;
}

.btn__submit{
    width: 120px;
    height: 35px;
    position: relative;
    left: 82%;
    top: 10px;
    background-color: rgb(176, 189, 216);
    border: none;
}

.btn__submit:hover{
    cursor: pointer;
    box-shadow: 0 0 0 2px rgb(176, 189, 216) inset, 0 0 0 3px white inset;
}

.span__path{
    width: 80%;
    height: 25px;
    background-color: #fff;
    border: none;
    font-weight: 600;
    color: rgb(115, 185, 115);
}

.container-path{
    display: inline-block;
    width: 100%;
}

.input__file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
